[flake8]
exclude =
    .git,
    __pycache__,
    .venv,
    .pytest_cache
max-line-length = 120
extend-ignore = E731, F841, E201, E202, E128
# E501: Line too long
# E731: Do not assign a lambda expression, use a def
# F841: Local variable is assigned to but never used
# E201: Whitespace after ']'
# E202: Whitespace before ']'
# E128: Continuation line under-indented for visual indent
